#taxomapLogo {
	float:left;
	margin-right: 15px;
}

#breadcrumbTaxon > a {
	padding: 0;
}

#breadcrumbTaxon > a::before {
    border-bottom: 18px solid transparent;
    border-left: 10px solid #ddb043;
    border-top: 18px solid transparent;
    clear: both;
    color: transparent;
    content: "";
    float: right;
    height: 37px;
    left: 0;
    position: relative;
    top: 0;
}

.breadcrumb  a {
	margin-right: 10px;
	float: left;
}

.breadcrumb  a:hover {
	color: #000;
}

.breadcrumb div {
    background: #ddb043 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 12px;
	max-height: 37px;
}

.breadcrumb > a:last-child > div {
	background: #fff;
	color: #ddb043;
}

.breadcrumb > a:last-child::before{
	display: none;
	max-width: 110px;
}

.breadcrumb > div.dots {
	margin-top: 1px;
	margin-right: 15px;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 757px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 80px;
    }
	#taxomapLogo {
		display:none;
	}
}

/* === For tablets ================================== */
@media (min-width: 858px) and (max-width:1151px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 110px;
    }
}

/* === For desktops ================================== */
@media (min-width: 1152px) and (max-width: 1400px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 130px;
    }
}

/* === For large screens ============================= */
@media (min-width: 1401px) {
    .btn-breadcrumb > *:nth-last-child(-n+7) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 150px;
    }
}

