#breadcrumbTaxon > a {
	padding: 0;
}

#breadcrumbTaxon > a::before {
    border-bottom: 18px solid transparent;
    border-left: 10px solid #ddb043;
    border-top: 18px solid transparent;
    clear: both;
    color: transparent;
    content: "";
    float: right;
    height: 37px;
    left: 0;
    position: relative;
    top: 0;
}

.breadcrumb > a {margin-right: 10px; float: left }

.breadcrumb > a > div {
    background: #ddb043 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 12px;
	max-height: 37px;
}

.breadcrumb > a:last-child > div {
	background: #fff;
	color: #ddb043;
}

.breadcrumb > a:last-child::before{
	display: none;
	max-width: 110px;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 80px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}

