body, html {
	height: 100%;
	font-size: 13px !important;
}

a:hover{text-decoration: none !important}

#header {
	background-color: #000;
	height: 90px;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

.logo-nat {
	padding: 20px 20px 0 0;
}

#subbar {
	top: 90px;
	background: #333;
}

#map {
	height: 100%;
}

#breadcrumbTaxon {
	z-index: 1002;
	float: left;
	margin: 10px 0;
	padding: 0;
	background: none;
}

/* Marc: bottom de 5px a -1px, altura 100% i border left */
#toggleButton {
    position: absolute;
    bottom: -1px;
    left: 0px;
    z-index: 1020;
    height: 100%;
    border-left: 3px solid #fff;
}

/* Marc: afegit*/
#toggleButton a {
    height: 30px;
    width: 30px;
    background: url(../img/doblearrow.png) #fff no-repeat center center;
    border: none;
    border-radius: 0;
    top: calc(50% - 15px);
    position: absolute;
    background-size: 15px;
}

#wrapper.toggled #toggleButton a {
    transform: rotate(180deg);
}

@media screen and (max-width: 767px){
    #toggleButton a {
    transform: rotate(180deg);
    }
    #wrapper.toggled #toggleButton a {
    transform: rotate(0deg);
    }
}

/* Menu */
.sidebar-nav li a.active {
    background-color: #ddb043;
    color: #fff;
    font-weight: bold;
}

.sidebar-nav li .parent{
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin-right: -25px;
    padding: 18px 13px 9px 0;
}

.parent::before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ddb043;
    clear: both;
    color: transparent;
    content: "";
    float: right;
    height: 35px;
    left: 11px;
    position: absolute;
    top: 33px;
    width: 25px;
    display: none;
}

.sidebar-nav span .downloadLink{
    background: url(../img/download.png) no-repeat;
    position: absolute;
    margin-top: -27px;
    right: 15px;
    width: 15px;
    height: 15px;
    background-size: 15px;
}

.sidebar-nav span .sheetLink{
    background: url(../img/wiki.png) no-repeat;
    position: absolute;
    margin-top: -27px;
    right: 40px;
    width: 17px;
    height: 17px;
    background-size: 17px;
}

.sidebar-nav span .downloadLink:hover {
	background: url(../img/download.png) no-repeat;
	background-size: 15px;
}

.sidebar-nav span .sheetLink:hover{
    background: url(../img/wiki.png) no-repeat;
	background-size: 17px;
}

/* Tooltip */
.links + .tooltip > .tooltip-inner {
    color: #ddb043;
	background-color: #F5F5F5;
    border: 1px solid #AAA;
}

a.downloadFormatList {
	display: block;
    color: #333;
    padding: 5px 10px;
    font-size: 12px;
}

a.downloadFormatList:hover { color: #ddb043; }

a.parent:hover {background: none !important}

.menuLoading {
	background: url('../img/load.svg') no-repeat center top;
	height: 40px;
	margin-top: 50px;
	background-size: 40px
}

.mapLoading {
	background: url('../img/load.svg') no-repeat center center;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	z-index: 10;
	background-size: 40px
}

/* Filters */
#circleFilter {
	padding: 0; /* Canvi: de 5px 0 a 0; */
}

#circleFilter span{ background: none; border-color: #ccc; border-radius: 0; padding: 11px 0 10px;
 border-top: none; border-right: none; border-left: none;
}

/* Canvi: Afegit fins línia 115 */
#circleFilter span:nth-child(2) {
    padding-right: 15px;
    text-align: right;
}

#basic-addon3{
    background: rgba(0, 0, 0, 0) url("../img/cercle.png") no-repeat scroll 15px 11px !important;
    font-size: 12px;
    padding-top: 8px;
    text-indent: 7px;
    text-transform: uppercase;
}

#clicker {
    background: transparent;
    height: 18px;
    position: absolute;
    z-index: 1;
    width: 18px;
    margin-left: 14px;
    opacity: .3;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* Overwrite CartoDB defaults */
div.cartodb-legend, div.cssSelector {
	position: relative;
	width: 180px;
}

div.cssSelector button {
	background-color: #ddb043;
	color: #FFF;
}

.combolegend div.cartodb-legend.intensity ul {
    min-width: auto;
}

.combolegend div.cartodb-legend {
	right: auto;
}

/* If we want to overwrite leaflet controls */
.combolegend  {
	margin-bottom: 10px !important;
}

/* Search */ 

.btn-blk{
    background:transparent;
    color:#aaa;
  }  
.btn-blk:hover {
    color:white
}
#noresults {
	display: none;
	padding: 5px;
}

/* Marc: Afegit nou fins línia 223 */
.form-group {
    width: 100%;
	position: relative;
}

ul.typeahead.dropdown-menu {
    width: 100%;
    border-radius: 0;
    background: rgba(255,255,255,0.9);
    margin: 0;
    border: 0;
    box-shadow: none;
    height: 100%;
    top: 64px !important;
}

li.active a {
    background: #ddb043 !important;
    color: #fff !important;
}

#noresults {
    background: rgba(200,100,100,0.7);
    color: #fff;
    padding-left: 15px !important;
}

#taxon {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    background: url(../img/search.png) no-repeat 15px;
    background-size: 15px;
    font-size: 12px;
    color: #777;
    font-style: italic;
}

/* Filtres */

#headingOne {
    background: url(../img/filter.png) #555 no-repeat 15px;
    color: #fff;
    border: none;
    border-radius: 0;
    padding-left: 40px;
    background-size: 15px;
}

#headingOne:after {
    background: url(../img/arrow.png);
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
    right: 15px;
    margin-top: -10px;
    background-size: 10px;
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}

a.collapsed #headingOne:after {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

h4.panel-title {
    font-size: 14px;
}

.panel.panel-default {
    border: none;
    border-radius: 0;
    margin: 0;
    background: #f5f5f5;
}

#filters {
    background: #f5f5f5;
}

.panel-body {
    padding: 0 !important;
}

#fvFilter .dropdown-menu.inner a, #fvFilter .dropdown-menu.inner span.text {
    padding: 3px 0 !important;
    display: inherit !important;
    font-size: 12px;
}

#fvFilter .btn-group.bootstrap-select:nth-child(1) {
    margin-bottom: 5px;
}

#fvFilter .btn-group.bootstrap-select {
    width: 100% !important;
}

#fvFilter {
    padding: 15px;
}

#fvFilter button.btn.dropdown-toggle.btn-default {
    font-size: 12px;
}

#clear-filters {
    float: right;
    margin-right: 20px;
    background: #eee;
    border-radius: 3px;
    color: #3f3f3f;
    padding: 3px 5px;
    font-size: 11px;
    margin-top: -1px;
    cursor: pointer;
}

#clear-filters > span {
    float: right;
    margin-left: 5px;
    font-size: 13px;
    line-height: 10px;
    color: #9E9E9E;
}

#clear-filters > span:hover {
    color: #555;
}

/* Modal */	

#textModal .modal-content {
    overflow: auto;
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    height: auto !important;
    max-height: 90vh;	
}

/* Marc: Afegit fins línea 226 */
#textModal .modal-backdrop.fade.in {
    background: none;
}

#textModal {
    background: rgba(0,0,0,0.6);
    z-index: 9999999999;
}

.modal-footer {
    display: none;
}

#textModal .modal-body { padding: 30px !important; }

#textModal .modal-body h3 { margin-top: 0; }

#textModal .modal-body iframe {
    width: 100%;
}

.modal-header.modal-tm3 {
    position: fixed;
    padding: 0;
    right: -30px;
    width: 20px;
    border: none;
    top: 3px;
}

.modal-tm3 button.close {
    width: 15px;
    height: 15px;
    background: url(../img/close-white.png);
    background-size: cover;
    opacity: 1;
}

/* Infowindow */	
div.cartodb-popup-content {
	height: 215px!important;
	max-height: 215px!important;
}

div.cartodb-popup div.cartodb-popup-content-wrapper {
	height: 240px;
	max-height: 240px;
}

/* Wiki sheet */

#divSheetModal #title {
    font-weight:bold;
    font-size:20pt;
    padding-bottom: 10px;
}

#divSheetModal #subtitle {
    font-weight:bold;
    font-size:13pt;
    padding-bottom: 10px;
}

#divSheetModal #desc {
    text-align: justify;
    padding: 10px;
}

#links img {
    height: 120px;
    padding: 20px;
}


/**** Auupa 01.11.2016 ****/

#subbar {top: 83px;}