body, html {
	height: 100%;
}

#map {
	height: 100%;
}

#breadcrumbTaxon {
	z-index: 1002;
	float: left;
	margin: 10px;
}

/* Menu */
.sidebar-nav li a.active {
	background-color: #CCC;
	border: 1px solid #999;
}

#menuTaxon {
	top: 80px; /* leave space for filters */	
}

#filters li {
	margin: 20px 10px;
}